.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.controls {
    display: flex;
    gap: 1em;
    align-items: center;
}

.progress {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.progress progress {
    width: 12em;
}

.interval {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.interval input {
    width: 4em;
}

.message {
    transition: opacity 0.3s;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.5em;
    color: var(--text);
}

.checkbox input {
    cursor: pointer;
}
